* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-img {
    width: 4em;
    margin-left: 2em;
    margin-right: 1em;
}

.nav-wrapper {
    background-color: #ffff;
}

.nav-wrapper a {
    color: #000000;
}

.list-home {
    color: #000000;
}
