* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-img {
    width: 6em;
}

.nav-wrapper {
    background-color: #ffff;
}

.nav-wrapper a {
    color: #000000;
}

.list-home {
    color: #000000;
}

.center-align {
    margin-top: 2em;
}

.style-slider {
    margin-top: 3em;
}
.style-login {
    margin-top: 3em;
}