<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlazamos nuestro framework _materialize_ -->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <!-- Enlazamos nuestra hoja de estilo css -->
    <link rel="stylesheet" href="../css/newsfeed.css">
    <!-- Enlazamos nuestro logo -->
    <link rel="shortcut icon" href="../assets/logo/logo-sinfondo1.png">
    <!-- Enlazamos los íconos de mayterialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Enlazamos íconos de fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Q'apiriy</title>
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div id="root"></div>
        <div class="nav-wrapper">
            <a href="#">
                <img src="../assets/logo/logo-comprimido.png" class="logo-img" alt="">
            </a>
            <a href="#" class="brand-logo hide-on-med-and-down">Q'apiriy</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down list-home">
                <li>
                    <a href="sass.html">Inicio</a>
                </li>
                <li>
                    <a href="badges.html">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="collapsible.html">Regístrate</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Estructura de Sider Nav -->
    <div class="container">
        <div class="row">
            <div class="menu-perfil">
                <ul id="slide-out" class="side-nav fixed">
                    <li>
                        <!-- Enlazamos la foto de gmail -->
                        <div class="user-view">
                            <div>
                                <div id="root">
                                    <a href="#!user" class="img-contacto">
                                        <img id="imgprofile" class="circle responsive-img" src="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="material-icons">cloud</i>Explora</a>
                    </li>
                    <li>
                        <a href="view-profile.html">Post</a>
                    </li>
                    <li>
                        <a href="user.html">Amigos</a>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <a class="subheader">Intereses</a>
                    </li>
                    <li>
                        <a class="waves-effect" href="http://ensenaperu.org/">Educación</a>
                    </li>
                    <li>
                        <a class="waves-effect" href="https://cram.org/cram/voluntario-del-cram-suscripcion/">Medio Ambiente</a>
                    </li>
                    <li>
                        <a class="waves-effect" href="http://www.minsa.gob.pe/portada/especiales/2009/voluntariado/default.asp">Salud</a>
                    </li>
                    <li>
                        <a class="waves-effect" href="#!">Recibir y Ayudar a Huéspedes</a>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            </div>
            <div class="container">
            
            <div class="row">
                <div class="col s12">
            
                    <!-- Textarea para agregar nuevas publicaciones -->
                    <div class="profile-post">
                        <form action="">
                            <textarea id="text-area" class="noscroll" clid="textarea1" placeholder="¿Algo que compartir?"></textarea>
                            <button id="post-btn" class="waves-effect waves-light btn right" type="submit" value="publica" disabled>Publica</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12">
                    <div class="profile-posts-container" id="profilePostsContainer">
            
                        <!-- Contenedor de publicaciones -->
                        <div class="cont-v profile-post">
                            <div class="video-container">
                                <iframe width="853" height="480"src="https://www.youtube.com/embed/_Pxa0JBRMp0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="profile-post clearfix">
                            <p>Seguimos en Cusco! Hoy pasamos el día al aire libre con los niños del albergue, después de varios días de lluvia al fin tuvimos
                                un día soleado y aprovechamos el buen tiempo para hacer varios juegos y ejercicios.</p>
                            <div class="image-container">
                                <img class="responsive-img" src="../assets/img/new1.JPG" alt="Personas haciendo ejercicio al aire libre">
                            </div>
                        </div>
            
                        <div class="profile-post clearfix">
                            <div class="image-container">
                                <img class="responsive-img" src="../assets/img/new2.jpg" alt="Niña en Cusco">
                            </div>
                            <p><a href="https://www.aldeasinfantiles.org.pe/n/guardar4/luz-del-sur-dona-9500-dolares-en-beneficio-de-los">Luz del Sur dona 9500 dólares en beneficio de los niños y niñas de Aldeas Infantiles SOS Perú</a></p>
                        </div>
                        <div class="profile-post clearfix">
                            <div class="image-container">
                                <img class="responsive-img" src="../assets/img/new3.JPG" alt="Mujer con mono en los hombros">
                            </div>
                            <p>Uno de los peores finales es acabar solo y abandonado, sin el respaldo de tus familiares, de tus amigos, de tu gente, de todos. Más aún cuando los años ya empiezan a pasar factura, cuando los párpados comienzan ver un mundo donde solo esta una madre o los sueños de un adolescente empiezan a encaminarse sin un rumbo.</p>
                        </div>
                        <div class="profile-post clearfix">
                            <p>Hola, este es mi primera publicación en Q'apariy! Espero conocer muchos amigos y compartir muchas experiencias!</p>
                        </div>
            
                    </div>
            
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Enlazamos la librería Jquery -->
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Enlazamos nuestro proyecto de firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <!-- Enlazamos el archivo jquery de materialize -->
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <!-- Enlazamos nuestro archivo JS -->
    <script src="../js/newsfeed.js"></script>
</body>
</html>