<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Enlazamos nuestro framework _materialize_ -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- Enlazamos nuestros icons de Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Enlazamos nuestros icons de Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Enlazamos nuestra hoja de estilo css -->
  <link rel="stylesheet" href="../css/profile.css">
  <!-- Enlazamos nuestro logo -->
  <link rel="shortcut icon" href="../assets/logo/logo-comprimido.png">
  <title>Q'apiriy</title>
</head>
<body>
  <header>
    <!-- Barra de Navegación-->
    <nav class="teal darken-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Q'apiriy</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="index.html" class="btn-flat white-text transparent">Inicio
              <i class="material-icons left">home</i>
            </a>
          </li>
          <li>
            <a href="view-profile.html" class="btn-flat white-text transparent">Explorar
              <i class="material-icons left">search</i>
            </a>
          </li>
    
          <!-- Trigger del Menu Dropdown-->
          <li>
            <a class="dropdown-button btn-flat white-text transparent active" href="#" data-activates="dropdown1">Mi Perfil
              <i class="material-icons left">arrow_drop_down</i>
            </a>
          </li>
    
        </ul>
    
        <!-- Estructura del Menu Dropdown-->
        <ul id="dropdown1" class="dropdown-content">
          <li>
            <a href="#">Mi cuenta
              <i class="material-icons left">account_circle</i>
            </a>
          </li>
          <li>
            <a href="#">Mensajes
              <i class="material-icons left">message</i>
            </a>
          </li>
          <li>
            <a href="#">Herramientas
              <i class="material-icons left">tune</i>
            </a>
          </li>
          <li>
            <a href="#" class="logout">Cerrar Sesión
              <i class="material-icons left">power_settings_new</i>
            </a>
          </li>
        </ul>
    
        <!-- Barra lateral en vista mobile -->
        <ul id="mobile-demo" class="side-nav">
          <li>
            <a href="index.html" class="btn-flat transparent">Inicio
              <i class="material-icons left">home</i>
            </a>
          </li>
          <li>
            <a href="index.html" class="btn-flat transparent">Explorar
              <i class="material-icons left">search</i>
            </a>
          </li>
          <li>
            <a href="#" class="btn-flat transparent">Mi cuenta
              <i class="material-icons left">account_circle</i>
            </a>
          </li>
          <li>
            <a href="#" class="btn-flat transparent">Mensajes
              <i class="material-icons left">message</i>
            </a>
          </li>
          <li>
            <a href="#" class="btn-flat transparent">Herramientas
              <i class="material-icons left">tune</i>
            </a>
          </li>
          <li>
            <a href="#" class="btn-flat transparent logout">Cerrar Sesión
              <i class="material-icons left">power_settings_new</i>
            </a>
          </li>
        </ul>
    
      </div>
    </nav>
  </header>

  <main>
    <!-- Perfil de usuario -->
    <div class="container">
      <div class="row">
        <div class="col s12">
          <!-- Primera sección con el perfil y biografía del usuario -->
          <div class="profile-container">
            <div class="row">
              <div class="col l6">
                <!-- Columna con la imagen y el nombre del usuario-->
                <div class="first-column">
                  <div class="image-container">
                    <img id="imgprofile" class="circle">
                  </div>
                  <p>Mi perfil
                    <br> honeyapple@gmail.com
                  </p>
                </div>
              </div>
              <div class="col l6">
                <!-- Columna con la biografía y links adicionales -->
                <div class="second-column">
                  <p>Me llamo María Chávez y soy de Trujillo. Desde muy joven, atraída por la rica cultura de nuestro país, empecé
                    a viajar por todo el Perú y a conocer distintas realidades. Ser voluntaria me ha hecho crecer mucho como
                    persona. Me gusta aportar algo a los demás y tratar de ser útil a gente que lo necesita.</p>
                  <ul class="bio-links">
                    <li>
                      <div class="divider"></div>
                    </li>
                    <li>
                      <a class="bio-btn waves-effect waves-orange" href="#!">Inicio</a>
                    </li>
                    <li>
                      <a class="bio-btn waves-effect waves-orange" href="user.html">Amigos</a>
                    </li>
                    <li>
                      <a class="bio-btn waves-effect waves-orange" href="espacioFotos.html">Fotos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Publicaciones de usuario -->
    <div class="container">
  
      <div class="row">
        <div class="col s12">
  
          <!-- Textarea para agregar nuevas publicaciones -->
          <div class="profile-post">
            <form action="">
              <textarea id="text-area" class="noscroll" clid="textarea1" placeholder="¿Algo que compartir?"></textarea>
              <button id="post-btn" class="waves-effect waves-light btn right" type="submit" value="publica" disabled>Publica</button>
            </form>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col s12">
          <div class="profile-posts-container" id="profilePostsContainer">
  
            <!-- Contenedor de publicaciones -->
            <div class="profile-post clearfix">
              <div class="image-container">
                <img class="responsive-img" src="../assets/img/ejercicios-aire-libre.png" alt="Personas haciendo ejercicio al aire libre">
              </div>
              <p>Seguimos en Cusco! Hoy pasamos el día al aire libre con los niños del albergue, después de varios días de lluvia
                al fin tuvimos un día soleado y aprovechamos el buen tiempo para hacer varios juegos y ejercicios.</p>
            </div>
  
            <div class="profile-post clearfix">
              <p>Estoy en</p>
            </div>
  
            <div class="profile-post clearfix">
              <div class="image-container">
                <img class="responsive-img" src="../assets/img/z20.jpg" alt="Niña en Cusco">
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, necessitatibus inventore cupiditate corporis
                maiores laborum eos similique? Libero alias tempore excepturi beatae commodi voluptate omnis nam eligendi.
                Aspernatur, officia quis?</p>
            </div>
            <div class="profile-post clearfix">
              <div class="image-container">
                <img class="responsive-img" src="../assets/img/contactos/contact9.jpg" alt="Mujer con mono en los hombros">
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, accusamus doloribus! Earum nostrum consequatur
                adipisci, consequuntur est corporis optio accusamus totam aliquam et quia voluptatem nesciunt fugiat reiciendis
                quas vero.</p>
            </div>
            <div class="profile-post clearfix">
              <p>Hola, este es mi primera publicación en Q'apariy! Espero conocer muchos amigos y compartir muchas experiencias!</p>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
  </main>


  <!-- Enlazamos la librería Jquery -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Enlazamos nuestro proyecto de firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <!-- Enlazamos el archivo jquery de materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- Enlazamos nuestro archivo JS de vista Profile´+-->
  <script src="../js/profile.js"></script>
</body>

</html>